/doc/
/storage/
/logs
.env
config.json
**/__pycache__/**
**/.ipynb_checkpoints/**
/notebooks/02-liveproof-common-methods.ipynb
/notebooks/03-liveproof-generalized-methods.ipynb
/notebooks/04-faceextractor-google-mlkit.ipynb
/antispoofing/src/topics/
/antispoofing/src/utils/
/antispoofing/test/

/tunnels.sh
/setup.sh
/run_step.sh
/reset.sh
/help.sh